// Color Palette
$Orange:    #FDB71C;
$Blue:      #4B8CCA;
$Green:     #056B38;
$Gray:      #DBDBDB;
$DarkGray:  #5B5B5B;
$LightGray: #F4F4F4;

// Element Sizes
$top-bar_height: 60px;
$max-width: 800px;
